:root {
  --color-white: #f2f2f2;
  --color-black: #323232;
  /* color styles */
  --color-theme: #231f20;
  --color-theme-light: #343031;
  --color-theme-hover: #171415;
  --color-theme-neutral: #f6efe4;
  --color-neutral: #f6f6f7;
  --color-complement: #c5aa94;
  --color-accent: #231f20;
  --color-gray: #ebebeb;

  --primary-blue: #3498db;
  --dark-blue: #2980b9;
  --light-blue: #85c1e9;
  --background-blue: #ecf0f1;
  --text-color: #2c3e50;

  /* border styles */
  --border-radius: 15px;

  /* box shadows */

  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  /* button colors */
  --button-primary: var(--color-admin-theme);
  --button-primary-hover: var(--color-admin-focus);
  --button-danger: #e2574c;
  --button-danger-hover: #cc3125;
  --button-warning: #59ad6a;
  --button-warning-hover: #338e47;
  --button-inactive: rgb(137, 137, 137);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* global styles */
body {
  color: var(--color-text-dark);
  background-color: var(--color-theme-neutral);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

strong {
  font-weight: bold;
}
